header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bg-dark
    code.navbar-brand.mr-0.mr-md-2(href="#") railOS
    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        li.nav-item.dropdown
            a.nav-item.nav-link.dropdown-toggle.mr-md-2(href="#",id="options",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Welcome #{lastname}
            div.dropdown-menu.dropdown-menu-right(aria-labelledby="options")
                a.dropdown-item(onclick="logout()") Logout
.container-fluid
    .row.flex-xl-nowrap
        .card.card-body.col-sm-3.col-md-3.col-xl-2.bg-dark(style="margin-bottom:0px !important;border-radius:0px !important")
            
            br
            a.btn.btn-outline-info.text-info(data-toggle="collapse",data-target="#mgusers",aria-expanded="false",aria-control="mgusers") Manage Users
            br
            a.btn.btn-outline-info.text-info(href="/ds") D.S Page
            br
            a.btn.btn-outline-info.text-info(href="/editor") Editor Page
            br
            a.btn.btn-outline-info.text-info(href="/train-track") Train Tracking
            
        main.col-sm-9.col-md-9.col-xl-8.py-md-3.pl-md-5.bg-white(role="main")
            .card.card-body#pt
                .collapse.show#mgusers(data-parent="#pt")
                    row
                        a.col-md-3.btn.btn-outline-info.text-info(data-toggle="collapse",data-target="#createuser",aria-expanded="false",aria-control="createuser") Create User
                        a.col.col-md-offset-1.col-md-3.btn.btn-outline-info.text-info(onclick="getusers()",data-toggle="collapse",data-target="#edituser",aria-expanded="false",aria-control="#edituser") Edit User(s)
                    br
                    br
                    .card.card-body#b
                        
                        form.collapse.show#createuser(data-parent="#b")
                            h3.display-4 Add User(s)
                            div.row
                                div.bmd-form-group.form-group.col-md-3
                                    label.bmd-label-floating Username
                                    input.form-control#user(type="text",disabled)
                                div.form-group.bmd-form-group.col-md-4
                                    label.bmd-label-floating First Name
                                    input.form-control#firstname(type="text",required)
                                div.form-group.bmd-form-group.col-md-4
                                    label.bmd-label-floating Last name
                                    input.form-control#lastname(type="text",required)
                            br
                            div.row
                                div.form-group.bmd-form-group.col-md-4
                                    label.bmd-label-floating Station
                                    div.dropdown.bootstrap-select
                                        select#station.form-control(data-style='btn btn-link')
                                            option
                                            option GB
                                            option KL
                                            option IB
                                            option KS
                                div.form-group.bmd-form-group.col-md-5

                                    div.dropdown.bootstrap-select
                                        label Role
                                        select#role.form-control(required,data-style='btn btn-link')
                                            option
                                            option admin
                                            option Frontdesk
                                            option Customer
                                            option Editor
                                            option D.S
                            div.form-group
                                input.form-control#pwd(type="password",placeholder="Password")
                            br
                            button.btn.btn-primary(type="submit") Create User
                        .collapse#edituser(data-parent="#b")
                            h3.display-4 Edit user
                            #datazone

include scripts
script(type="text/javascript",src="../js/views-js/admin.js")
