include top
    | Customer Query

header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bg-dark
    code.navbar-brand.mr-0.mr-md-2(href="#") railOS
    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        li.nav-item.dropdown
            a.nav-item.nav-link.dropdown-toggle.mr-md-2(href="#",id="options",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{lastname}
            div.dropdown-menu.dropdown-menu-right(aria-labelledby="options")
                a.dropdown-item(onclick="logout()") Logout

.container-fluid
    .row.flex-xl-nowrap
        div.card
            div.card-header
                h3 Customer Query
            div.card-body
                form.search
                    div.row(style="padding:10px")
                        div.form-group.bmd-form-group.col-md-2
                            label.bmd-label-floating search firstname
                            input.form-control#sfname(type="text")
                        div.form-group.bmd-form-group.col-md-2
                            label.bmd-label-floating search lastname
                            input.form-control#slastname(type="text")
                        div.form-group.bmd-form-group.col-md-2
                            label.bmd-label-floating search station
                            input.form-control#slastname(type="text")
                    button.btn.btn-primary(type="submit") Query


include scripts
script(type="text/javascript" src="../js/views-js/custom-query.js")
script(type="text/javascript").
    logout=()=>{
        $.post("/logout",{},(r)=>{r.value?window.location="/":noty(top,right,r.string,1000,"fail")})
    }
    function noty(from, align,msg,time,type){

        $.notify({
            icon: "add_alert",
            message: msg

        },{
            type: type,
            timer: time,
            placement: {
                from: from,
                align: align
            }
        });
    };