include top

if role=="ds"
    include dspage
else if role=="editor"
    include editor
else if role=="admin"
    include admin
else if role=="customer"
    include customer
else if role=="frontdesk"
    include frontdesk
