include top

header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bg-dark
    code.navbar-brand.mr-0.mr-md-2(href="#") railOS
    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        li.nav-item.dropdown
            a.nav-item.nav-link.dropdown-toggle.mr-md-2(href="#",id="options",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{lastname}
            div.dropdown-menu.dropdown-menu-right(aria-labelledby="options")
                a.dropdown-item(onclick="logout()") Logout

.container-fluid
    .row.flex-xl-nowrap
        .card.card-body.col-sm-3.col-md-3.col-xl-2.bg-dark(style="margin-bottom:0px !important;border-radius:0px !important")
            if role=="admin"|role=="ds"|role=="editor"
              a.btn.btn-outline-info.text-info(href="/dashboard") Dashboard
              br
            a.btn.btn-outline-info.text-info(data-toggle="collapse",data-target="#custquery",aria-expanded="false",aria-control="custquery") Customer Query
            br
            a.btn.btn-outline-info.text-info(href="/train-track") Train Tracking
            br
        main.col-sm-9.col-md-9.col-xl-8.py-md-3.pl-md-5.bg-white(role="main")
          .card.card-body
            .collapse#custquery
                    div.card
                        div.card-header
                            h3 Customer Query
                        div.card-body
                            form.search
                                div.row
                                    div.form-group.col-md-4
                                        label Search by
                                        select.col-md-6#station.form-control(data-style='btn btn-link')
                                            option Name
                                            option Station
                                            option Trip Destination
                                            option Trip Orgination
                                    .form-group.col-md-4
                                        label Search term
                                        input#searchterm.form-control(type="text")
                                button.btn.btn-primary(type="submit") Query
include scripts
script(type="text/javascript",src="../js/views-js/dspage.js")
    

