include top

.wrapper
  .sidebar(data-color='azure' data-background-color='white' data-image='../images/tr1.png')
    //
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
      Tip 2: you can also add an image using data-image tag
    .logo
      a.simple-text.logo-normal
        | Welcome #{lastname}
    .sidebar-wrapper.ps-container.ps-theme-default(data-ps-id='729e444c-3cc6-9ec2-88b4-d964b6cd0b8a')
      form.navbar-form
        span.bmd-form-group
          .input-group.no-border
            input.form-control(type='text' value='' placeholder='Search...')
            button.btn.btn-white.btn-round.btn-just-icon(type='submit')
              i.material-icons search
              .ripple-container
      ul.nav
        li.nav-item.active.priceb
          a.nav-link
            i.material-icons dashboard
            p Customer Query
        li.nav-item.scheduleb
          a.nav-link(href="/editor")
            i.material-icons content_paste
            p Editor Page
        li.nav-item.traintrackb
          a.nav-link(href="/customer")
            i.material-icons location_ons
            p Customer Page
      .ps-scrollbar-x-rail(style='left: 0px; bottom: 0px;')
        .ps-scrollbar-x(tabindex='0' style='left: 0px; width: 0px;')
      .ps-scrollbar-y-rail(style='top: 0px; right: 0px;')
        .ps-scrollbar-y(tabindex='0' style='top: 0px; height: 0px;')
    .sidebar-background(style='background-image: url(../assets/img/sidebar-1.jpg) ')
  .main-panel.ps-container.ps-theme-default(data-ps-id='34572a16-51b8-c89e-557c-35aee30545f7')
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.fixed-top
      .container-fluid
        .navbar-wrapper
          p.navbar-brand railOS
        button.navbar-toggler.toggled(type='button' data-toggle='collapse' aria-controls='navigation-index' aria-expanded='false' aria-label='Toggle navigation')
          span.sr-only Toggle navigation
          span.navbar-toggler-icon.icon-bar
          span.navbar-toggler-icon.icon-bar
          span.navbar-toggler-icon.icon-bar
        .collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li
                p.name #{lastname} #{firstname}
            li.nav-item.dropdown
              a#navbarDropdownProfile.nav-link(href='#pablo' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.material-icons person
                p.d-lg-none.d-md-block
                  | Account
                .ripple-container
              .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownProfile')
                a.dropdown-item(href='#') Profile
                a.dropdown-item(href='#') Settings
                .dropdown-divider
                a.dropdown-item(onclick="logout()") Log out
    // End Navbar
    .content
        .container-fluid
            .row(style="display:block;visbility:hidden;z-index:0")
                .card.card-stats
                    .card-header.card-header-success
                        h3.card-title
                            | Customer Query
                    .card-body
                    .stats
                        i.material-icons.text-danger warning
                        a(href='#pablo') Get More Space...
    .footer
      .container-fluid
        nav.float-left
          ul
            li
              a
                | railOS
            li
              a(href='https://geniuscreations.ga/railos')
                | powered by genius creations
        .copyright.float-right
          | &copy;
          script.
            document.write(new Date().getFullYear())
    .ps-scrollbar-x-rail(style='left: 0px; bottom: 0px;')
      .ps-scrollbar-x(tabindex='0' style='left: 0px; width: 0px;')
    .ps-scrollbar-y-rail(style='top: 0px; right: 0px;')
      .ps-scrollbar-y(tabindex='0' style='top: 0px; height: 0px;')
    .close-layer.visible

include scripts
script(type="text/javascript",src="../js/views-js/dspage.js")

