include top

header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bg-dark
    code.navbar-brand.mr-0.mr-md-2(href="#") railOS
    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        li.nav-item.dropdown
            a.nav-item.nav-link.dropdown-toggle.mr-md-2(href="#",id="options",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{lastname}
            div.dropdown-menu.dropdown-menu-right(aria-labelledby="options")
                a.dropdown-item(onclick="logout()") Logout

.container-fluid
    .row.flex-xl-nowrap
        .card.card-body.col-sm-3.col-md-3.col-xl-2.bg-dark(style="margin-bottom:0px !important;border-radius:0px !important")
            if role=="admin"|role=="ds"
              a.btn.btn-outline-info.text-info(href="/dashboard") Dashboard
              br
            a.btn.btn-outline-info.text-info(data-toggle="collapse",data-target="#mgprice",aria-expanded="false",aria-control="mgprice") Manage Pricing
            br
            a.btn.btn-outline-info.text-info(data-toggle="collapse",data-target="#mgschedule",aria-expanded="false",aria-control="mgschedule") Manage Schedule
            br
            a.btn.btn-outline-info.text-info(href="/frontdesk") Frontdesk Page
            br
            a.btn.btn-outline-info.text-info(href="/customerdashboard") Customer Page



            
        main.col-sm-9.col-md-9.col-xl-8.py-md-3.pl-md-5.bg-white(role="main")
            .card.card-body#pt
                .collapse#mgprice(data-parent="#pt")
                .collapse#mgschedule(data-parent="#pt")


include scripts
script(type="text/javascript",src="../js/views-js/editor.js")