include top

header.navbar.navbar-expand.navbar-dark.flex-column.flex-md-row.bg-dark
    code.navbar-brand.mr-0.mr-md-2(href="#") railOS
    ul.navbar-nav.flex-row.ml-md-auto.d-none.d-md-flex
        li.nav-item.dropdown
            a.nav-item.nav-link.dropdown-toggle.mr-md-2(href="#",id="options",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{lastname}
            div.dropdown-menu.dropdown-menu-right(aria-labelledby="options")
                a.dropdown-item(onclick="logout()") Logout

.container-fluid
    .row.flex-xl-nowrap
        .card.card-body.col-sm-3.col-md-3.col-xl-2.bg-dark(style="margin-bottom:0px !important;border-radius:0px !important")
            if role=="admin"|role=="ds"|role=="editor"
              a.btn.btn-outline-info.text-info(href="/dashboard") Dashboard
              br
            a.btn.btn-outline-info.text-info(data-toggle="collapse",data-target="#newtravel",aria-expanded="false",aria-control="newtravel") New Travel
        
        main.col-sm-9.col-md-9.col-xl-8.py-md-3.pl-md-5.bg-white(role="main")
          .card
            .card-header.card-header-primary.card-header-text
                .card-text
                    h3.display-4.card-title
                        | New Travel
            form.card-body
                div.row(style='padding:10px')
                    div.bmd-form-group.form-group.col-md-4
                        label.bmd-label-floating Firstname
                        input.form-control#fname(type="text" required)
                    div.bmd-form-group.form-group.col-md-4
                        label.bmd-label-floating Lastname
                        input.form-control#lname(type="text" required)

                div.row(style="padding:10px")
                    div.bmd-form-group.form-group.col-md-3
                        label.bmd-label-floating Trip Origin
                        div.dropdown.bootstrap-select
                            select#ostation.form-control(data-style='btn btn-link')
                                option IB
                    div.bmd-form-group.form-group.col-md-3
                        label.bmd-label-floating Trip Destination
                        div.dropdown.bootstrap-select
                            select#dstation.form-control(data-style='btn btn-link')
                                option IB
                    div.bmd-form-group.form-group.col-md-3
                        label.bmd-label-floating Ticket Type
                        div.dropdown.bootstrap-select
                            select#ticketclass.form-control(data-style='btn btn-link')
                                option Sleeper
                                option First Class
                                option Second Class
                div.row(style="padding:10px")
                    div.bmd-form-group.form-group.col-md-5
                        label.bmd-label-floating Reason for travel
                        input.form-control#reason(type="text" required)
                button.btn.right Submit Travel
   
include scripts
script(type="text/javascript").
     logout=()=>{
        $.post("/logout",{},(r)=>{ r.value?window.location="/":noty("top","right",r.string,1500,"fail")})
     }
    function noty(from, align,msg,time,type){

        $.notify({
            icon: "add_alert",
            message: msg

        },{
            type: type,
            timer: time,
            placement: {
                from: from,
                align: align
            }
        });
    };