html
    head
        title railOS
    body
        div.card-panel.red railOS
        div
            input#user(style='background-color:red',type='text',placeholder='Username')
            input#pwd(type='password',placeholder='Password')
            br
            br
            div.btn Login
include scripts